{
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": true,
      "jsx": true,
      "dynamicImport": true
    },
    "transform": {
      "react": {
        "runtime": "automatic"
      }
    }
  },
  "sourceMaps": true
}
